@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

$main-color: #0A9878;
$light-text: #ABB0BE;

header{
    position:fixed;
    top: -10px;
    display: block;
    margin: auto;
    width: 100%;
    z-index:3;
    background-color: #F0F0F0;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-height: 100px;
    max-width: 1200px;
    cursor:pointer;
}

.menu {
    display: flex;
    align-items: center;
    font-weight: lighter;
    width: 800px;
    font-size: 1.1rem;
}

.menu:nth-child(1) span{
    padding: 10px;
}

.menu:nth-child(1) span:active{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}



.carrito{
    margin-right: 30px;
}

.titulo{
    font-size: 2.3rem;
    margin-right: 20px;
}





*, *:before, *:after {
  box-sizing: border-box;
}



.container {
  margin: auto;
  width: 80%;
}

.badge {
    background-color: #0A9878;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


.shopping-cart {
  background: white;
  width: 360px;
  position: fixed;
  left: 100%;
  margin-left: -380px;
  border-radius: 3px;
  padding: 20px;
  z-index: 3;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity:0;
  display:none;

    overflow-y:scroll;
    overflow-x:hidden;
    max-height:80%;
  
  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    
    .shopping-cart-total {
      float: right;
    }
  }
  
  .shopping-cart-items {
    
    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      width: 50px;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }
  }
   
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  cursor: pointer;
  
  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
  

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
    display: block;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

.fade-out {
    opacity: 1;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
    display:none;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}

.masMenos{
    margin-left: 5px;
}

.masMenos button{
    border: none;
    margin-left: 5px;
    color: white;
    background-color: $main-color;
    cursor: pointer;
}

.menumovil{
  display:none;
  font-weight: bold;
  font-size: 1.7rem;
  z-index:12;
}

.contenedorMenuMovil2{
  display: block;
  background-color: white;
  position: fixed;
    left: 50%;
    top: 70px;
    transform: translate(-50%);
  height: auto;
  width: 90%;
  z-index: 11;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 890px) {

  .menu {
    display: flex;
    align-items: center;
    font-weight: lighter;
    width: 200px;
    font-size: 1rem;
}

.menu:nth-child(1) span{
    padding: 10px;
    display:none;
}

.menu:nth-child(1) span:active{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.shopping-cart{
  background: white;
  width: 500px;
  height: 80%;
  position: fixed;
  right: 0%;
  margin-left: -520px;
  border-radius: 3px;
  padding: 20px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity:0;
  

    overflow-y:scroll;
    overflow-x:hidden;
}

.menumovil{
  display: block!important;
  position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/*
.nav{
  justify-content: space-evenly;
  width: 100%;
}*/

}


@media only screen and (max-width: 550px) {

  .shopping-cart{
    position:fixed;
    margin-left: 0px;
    left:0;
    top:0;
    width: 95%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
  }


}