@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
    background-color: #F0F0F0;
    color: #4D4D4D;
    font-family: Roboto, sans-serif;
    padding:0;
    margin:0;
}
